{% extends 'base.html.twig' %}

{% block body %}
<div class='container'>
    <div class='row'>
        <div class='col-sm-8 offset-sm-2' style="margin-top:30vh;background:white;padding:3rem;opacity:0.8;">
            <div class="row">
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                            <form action="/referal-system/forms/login" method="POST">
                                <div class="form-group">

                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email">

                                </div>
                                <div class="form-group">

                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <input type="hidden" name="formName" value="studentLogin">

                                <button type="submit" class="btn btn-primary" style="width:100%;">Submit</button>
                            </form>

                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">


                            <form action="/referal-system/forms/login" method="POST">
                                <div class="form-group">

                                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Company Name">

                                </div>
                                <div class="form-group">

                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <input type="hidden" name="formName" value="enterpriseLogin">

                                <button type="submit" class="btn btn-primary" style="width:100%;">Submit</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                            <a href="{{ path('studentregister') }}">student register</a>
                            <a href="{{ path('companyregister') }}">company register</a>
                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Student Login</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Company Login</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Register</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
